.flex__column{
   display: flex;
   flex-direction: column;
   min-width: 300px;
   max-width: 450px;
   max-height: 450px;
   margin-left: auto;
   margin-right: auto;

}
.flex__column .slick-track{
    display: flex;
    align-items: flex-start;
}
.slick-initialized{
 overflow: hidden;
}

.img-slider{

}
.slider__item{
flex: 1 1 auto;
}
.slider__item img{
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  vertical-align: center;
}

.img-slider-nav{
   max-height: 75px;
}
/* слайдер */
.slick-slider{
    min-width: 0;
}
/* ограничивающая оболочка */
.slick-list{
overflow: hidden;
}
/* лента слайдов*/
/* убрал в селектор flex column
.slick-track{
    display: flex;
    align-items: flex-start;
}
 */
/* слайд */
.slick-slide{
max-height: 350px;
}
/* слайд активный */
.slick-slide.slick-active{}
/* слайд основной  */
.slick-slide.slick-current{}
/* слайд по центру  */
.slick-slide.slick-center{}
/* стрелка */
.slick-arrow{}
/* стрелка влево */
.slick-arrow.slick-prev{}
/* стрелка вправо */
.slick-arrow.slick-next{}
/* стрелка неактивная */
.slick-arrow.slick-disabled{}
/* точки */
/* в примере были убраны
.slick-dots{}
.slick-dots li{}
.slick-dots button{} */
.slick-slider .slick-dots li button:before {
 font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•'; /* <-- Вот этот символ */
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* div Элемет слайдера */
.slider{
    position: relative;
    padding: 0px 60px;
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
    border: none;
}
.slider .slick-arrow.slick-prev{
    left: 0;
    background: url('../img/sl-arrow_l.png') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
    right: 0;
    background: url('../img/sl-arrow_r.png') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}
.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}
/* класс миниатюр  */
.slider-nav.slick-track{
    display: flex;
    width: 100%;
    align-items: flex-start;
}
.slider-nav{
    max-height: 70px;
    overflow: hidden;
    position: relative;
    padding: 0px 60px;
}
/*  класс рекомендаций */

.slider-nav-recommend{
    display:inline-block;
    overflow: hidden;
    position: relative;
    width: 100%
}
.slider-nav-recommend .slick-track {
/*  transform: none!important; */
display: flex;
align-items: flex-start;
width: 100%
}
.recommend-cart{
display:flex;
justify-content:center;
flex-direction: column;
align-items: center;
border:1px solid silver;
border-radius: 10px;
height: 150px;
width: 70px;
}

.rec-img{
border:1px solid silver;
max-width: 120px;
}

.recommend-block-image{
display: block;
max-height: 100px;
display: block;
}
.recommend-block{
border:1px solid silver;
align: center;
width: 120px;
height: 15px;
display: block;
overflow: hidden
}
.slider-nav-recommend .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 1;
    font-size: 0;
    width: 30px;
    height: 60px;
    border: none;
}
.slider-nav-recommend .slick-arrow.slick-prev{
    left: 0;
    background: url('../img/sl-arrow_l.png') 0 0 / 100% no-repeat;
}
.slider-nav-recommend .slick-arrow.slick-next{
    right: 0;
    background: url('../img/sl-arrow_r.png') 0 0 / 100% no-repeat;
}
.slider-nav-recommend .slick-arrow.slick-disabled{
	opacity: 0.2;
}
