@import 'search-menu.css';
@import 'slick-slider-product-style.css';
body, html{
  background: #afdbf5;
}
.home{
  display: flex;
}


.search-menu {
  display: inline-block;
  background: white;
  width: 230px;
  margin-left: 2px;
}

.block-results {
  display: inline-block;
  background: white;
}
.product-container{
  display:flex;
  background: white;
  flex-direction: row;
  flex-wrap: wrap;

}
